# Visual Studio
.vs/
x64/

# Solution file
*.aps
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Visual Studio Code and CMake build
.vscode/
build/
database/

# Configuration and others
*.exe
*.db
.env